<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.house.mapper.HouseMapper">
    <select id="houseListOfAll" resultType="house" >
        select * from house limit #{limit} offset #{offset};
    </select>

    <select id="searchHouse" resultType="house">
        select * from house where city_id=#{cityId} and community_id=#{areaId}
    </select>

    <select id="houseDetail" resultType="house">
        select *from house where id=#{id};
    </select>

    <update id="setState">
        update house set state=#{state}
        where id=#{houseId}
    </update>

    <insert id="insertItem" useGeneratedKeys="true" keyProperty="id"  keyColumn="id" parameterType="house">
        insert into house(title,price,images,area,room,hall,remarks,properties,city_id,community_id,address,state,user_id)
        values (#{title},#{price},#{images},#{area},#{room},#{hall},#{remarks},#{properties},#{cityId},#{communityId},#{address},#{state},#{userId})
    </insert>

    <select id="myHouse" resultType="house">
        select * from house where user_id=#{userId} limit #{limit} offset #{offset};
    </select>
</mapper>