@charset "utf-8";
/* CSS Document */
* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1920px;
}
#head{
    text-align:center;
    font-size:40px;
    font-weight: bold;
    height: 60px;
    background-color: #f1edd6;
    padding: 20px 0;
}

#houseList{
    margin-left: 150px;
}
.house{
    float: left;
    padding: 20px;
    /*border: 1px solid #ccc;*/
}
.img {
    width: 200px;
    height: 200px;
}
.title{
    width: 200px;
    font-weight: bold;
}
.price{

}
.roomDetail{
    font-size:10px;
}